div.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
div.plants-menu{
  display: flex;
  align-items: center;
  justify-content: center;
}

div.plants-menu a{
  margin:5px;
  padding:30px;
  border-radius: 4px;
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.12);
}
div.plants-menu a:hover{
  box-shadow:  var(--dashboard-hover);
}
